.top-svg {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#first-color polygon,
#piece1,
#piece2,
#piece3 {
  fill: $primary-color;
}
#second-color polygon {
  fill: darken($primary-color, 3);
}
#third-color polygon,
#piece4 {
  fill: darken($primary-color, 6);
}
#piece2 {
  animation: vertical-out 4s linear infinite;
}

@keyframes colormorph {
  0% {
    fill: $primary-color;
  }
  33% {
    fill: $primary-color;
  }
  36% {
    fill: $secondary-color;
  }
  66% {
    fill: $secondary-color;
  }
  69% {
    fill: $primary-color;
  }
  100% {
    fill: $primary-color;
  }
}

@keyframes vertical-out {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes slide-rotate-hor-top {
  0% {
    -webkit-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
  50% {
    -webkit-transform: translateY(-10px) translateX(6px);
    transform: translateY(-10px) translateX(6px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0px);
    transform: translateY(0) translateX(0px);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes shake-lr {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  80% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  90% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}
