@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "@ucdavis/gunrockin/sass/gunrockin.scss";
$primary-color: $cabernet;
$secondary-color: $poppy;
$bs-danger: #dc3545; // bootstrap red
$danger: $merlot;
$success: $quad;

$theme-colors: (
  primary: $primary-color,
  secondary: $secondary-color,
  danger: $danger,
  success: $success,
);
@import "bootstrap/scss/bootstrap";
@import "@ucdavis/gunrockin/sass/_typography.scss";

$primary-bg: #fefefe;
$borders: #c9c3ce;
$primary-font: rgba(31, 31, 31, 0.99); //
$secondary-font: rgba(31, 31, 31, 0.7); //
$tertiary-font: rgba(31, 31, 31, 0.48); //

$error-color: $danger;
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
