html,
body {
  height: 100%;
  background-color: $primary-bg;
}
body {
  display: flex;
  flex-direction: column;
}
.page-wrap {
  flex: 1 0 auto;
}

.container {
  padding: 0;
  width: 98%;
  max-width: 1440px;
  @include breakpoint(sm) {
    width: 96%;
  }
  @include breakpoint(md) {
    width: 90%;
  }
  @include breakpoint(lg) {
    width: 86%;
  }
}
header {
  color: #fff;
  padding: 1% 0;
  a {
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.9);
      text-decoration: none;
    }
  }
}

footer {
  margin-bottom: 7%;
}
