.appheader {
  text-align: center;
  padding: 5% 0 1% 0;
  .hippo svg {
    margin-bottom: 8px;
  }
  h1 {
    vertical-align: middle;
    margin-top: 4px;
    img {
      margin-right: 8px;
    }
  }
}
.list-clusters {
  padding-left: 0;
  li {
    list-style: none;
    padding-left: 0;
    padding-bottom: 16px;
  }
  h4 {
    a {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
}
