@using Hippo.Email.Models
@model Hippo.Email.Models.NewRequestModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml";
}


<mj-section border-top="4px solid #481268" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc"
    background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="28px" color="#1F1F1F">
            <p>Hi members of group @Model?.GroupName</p>
        </mj-text>
        <mj-text padding-top="0px" padding-bottom="0px" font-size="24px" color="rgba(31,31,31,0.8)">
            @Model?.Action request for @Model?.ClusterName
        </mj-text>
    </mj-column>
</mj-section>

@await Html.PartialAsync("_EmailButton_mjml", new EmailButtonModel(@Model!.ButtonText, @Model!.RequestUrl))

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff"
    padding-bottom="10px" padding-top="5px">
    <mj-column width="90%" vertical-align="top" border-bottom="1px solid #c7c8cc">
        <mj-text padding-top="20px" padding-left="0px" padding-bottom="0px">
            <h4>Notification Details</h4>
        </mj-text>
    </mj-column>
</mj-section>
<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff"
    padding-bottom="20px" padding-top="0px">
    <mj-column width="90%" vertical-align="top" border-left="4px solid #481268" padding-left="10px">
        <mj-text>
            @Model?.Instructions
        </mj-text>
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff"
    padding-bottom="0px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>Request Details</h2>
        </mj-text>
    </mj-column>
</mj-section>
<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff"
    padding-bottom="20px" padding-top="0px">
    <mj-column width="90%" vertical-align="top" border-left="4px solid #481268" padding-left="10px">
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Superivising PI",
        string.IsNullOrWhiteSpace(@Model?.SupervisingPI) ? "Unspecified": @Model.SupervisingPI))"));
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Access Types",
        string.Join(", ", @Model?.AccessTypes ?? new())))"));
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Requested By",
        @Model?.RequesterName ?? ""))
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Requested On",
        @Model?.RequestDate ?? ""))
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Computing Cluster",
        @Model?.ClusterName ?? ""))
    </mj-column>
</mj-section>
