@using Hippo.Email.Models
@model Hippo.Email.Models.SampleModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml";
}


<mj-section border-top="4px solid #266041" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="28px" color="#1F1F1F">
            <p>Sample</p>
        </mj-text>
        <mj-text padding-top="0px" padding-bottom="0px" font-size="24px" color="rgba(31,31,31,0.8)">
            @@Model.Name
        </mj-text>
    </mj-column>
</mj-section>

@await Html.PartialAsync("_EmailButton_mjml", new EmailButtonModel("Sample Button", "https://github.com/ucdavis/hippo"))

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="10px" padding-top="5px">
    <mj-column width="90%" vertical-align="top" border-bottom="1px solid #c7c8cc">
        <mj-text padding-top="20px" padding-left="0px" padding-bottom="0px">
            <h4>Notification Details</h4>
        </mj-text>
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="0px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>Fake Info</h2>
        </mj-text>
    </mj-column>
</mj-section>
<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="0px">
    <mj-column width="90%" vertical-align="top" border-left="4px solid #266041" padding-left="10px">
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Test", "@Model.SomeText2"))
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="0px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>Requirements</h2>
        </mj-text>
    </mj-column>
</mj-section>
<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="0px">
    <mj-column width="90%" vertical-align="top" border-left="4px solid #266041" padding-left="10px">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="5px">
            <p>@@Model.SomeText</p>
        </mj-text>
    </mj-column>
</mj-section>





